<!-- Listado de mascotas en adopcion -->
<body style="position: relative; padding-bottom: 6em; min-height: 100vh;">
  <app-header></app-header>
  <div class="contenido container-fluid">
    <div class="d-flex justify-content-center my-4">
      <div class="col-lg-11 col-xl-11 col-md-11 col-sm-12 col-xs-12 p-2">
        <div class="input_container">
          <div class="titulo">
              <h1>Mascotas en adopción</h1>
          </div>
          <div class="input_div">
            <div class="boton_nueva">
              <button type="submit" (click)="instanciarNueva()" class="btn btn_nueva" data-bs-toggle="modal" data-bs-target="#registroModal" *ngIf="admin != 1">Nueva Mascota</button>
            </div> 
          </div>
        </div>
        <br>
          <div class="table-responsive table-bg">
              <table class="table table-hover text-center">
                  <thead>
                      <tr>
                          <th scope="col">NOMBRE</th>
                          <th scope="col">NACIMIENTO</th>
                          <th scope="col">RAZA</th>
                          <th scope="col">TAMAÑO</th>
                          <th scope="col">SEXO</th>
                          <th scope="col">FOTO</th>
                         <!--  <th scope="col" *ngIf="admin == 1">ONG</th> -->
                      </tr>
                  </thead>
                  <tbody>                   
                      <tr *ngFor="let m of mascotas">
                          <td (click)="showModal(m.id)" data-bs-toggle="modal" data-bs-target="#mascotaModal">{{m.name}}</td>
                          <td (click)="showModal(m.id)" data-bs-toggle="modal" data-bs-target="#mascotaModal">{{m.nacimiento | date: 'dd/MM/yyyy'}}</td>
                          <td (click)="showModal(m.id)" data-bs-toggle="modal" data-bs-target="#mascotaModal">{{m.raza}}</td>
                          <td (click)="showModal(m.id)" data-bs-toggle="modal" data-bs-target="#mascotaModal">{{m.tamanio}}</td>
                          <td (click)="showModal(m.id)" *ngIf="m.sexo=='m' || m.sexo=='M'" data-bs-toggle="modal" data-bs-target="#mascotaModal">Macho</td>
                          <td (click)="showModal(m.id)" *ngIf="m.sexo=='h' || m.sexo=='H'" data-bs-toggle="modal" data-bs-target="#mascotaModal">Hembra</td>
                          <td (click)="showModal(m.id)" data-bs-toggle="modal" data-bs-target="#mascotaModal"><img src={{m.url_imagen}} style="height: 5rem; width: 6rem"></td>
                         <!--  <td (click)="showModal(m.id)" data-bs-toggle="modal" data-bs-target="#mascotaModal" obtenerONG(m.id_ong) >{{ongNombre}}</td>    -->                    
                        </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer> 
</body>

<!--MODALES--> 
<!-- Modal de informacion de la mascota -->
<div class="modal fade" id="mascotaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header modal-header-bg">
        <h5 class="modal-title" id="exampleModalLabel">MASCOTA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                  <table class="table text-center">
                      <thead>
                          <tr>
                              <th scope="col">ID MASCOTA</th>
                              <th scope="col">NOMBRE</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{mascota.id}}</td>
                          <td>{{mascota.name}}</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
              <div class="row m-3">
                  <div class="col-7 col-sm-7">
                      <p>RAZA: {{mascota.raza}}<br>
                      EDAD: {{edadAproximada}}<br>
                      TAMAÑO: {{mascota.tamanio}}<br>
                      PESO: {{mascota.peso}}<br>
                      GÉNERO: {{mascotaSexo}}<br>
                      DESCRIPCIÓN: {{mascota.descripcion}}</p>
                  </div>
                  <div class="col-5 col-sm-5">
                      <img src={{mascota.url_imagen}} style="height: 12rem; width: 14rem">
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" (click)="cargarDatosAModificar()" class="btn btn_guardar" data-bs-toggle="modal" data-bs-target="#modificarModal" *ngIf="admin != 1">Modificar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de modificacion -->
<div class="modal fade" id="modificarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header modal-header-bg">
        <h5 class="modal-title">MODIFICAR MASCOTA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #form="ngForm">
          <div class="container-fluid">
            <div class="row m-3">
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" name="nombre" class="form-control" [(ngModel)]="nombre">
                </div>
                <div class="col-7 col-sm-7">
                  <label *ngIf="modifFecha==false" for="edad"><i class="form-label"></i>Edad</label>
                  <div *ngIf="modifFecha==false" class="input-group mb-3">
                    <input type="text" name="edad" class="form-control" disabled value={{edadAproximada}} aria-describedby="button-addon2">
                    <button class="btn btn-secondary" type="button" id="button-addon2" (click)="modificarFecha()"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                      <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg></button>
                  </div>
                  <div *ngIf="modifFecha==true" class="input_div">
                    <label for="nacimiento"><i class="form-label"></i>Nacimiento</label>
                    <input type="date" name="nacimiento" class="form-control" [(ngModel)]="nacimiento" (change)="calcularEdadAproximada(nacimiento)">
                  </div>
                  <div class="input_div">
                    <label for="raza"><i class="form-label"></i>Raza</label>
                    <input type="text" name="raza" class="form-control" [(ngModel)]="raza">
                  </div>
                  <div class="input_div">
                      <label for="tamanio"><i class="form-label"></i>Tamaño</label>
                      <select class="form-select" aria-label="Default select example" name="tamanio" [(ngModel)]="tamanio">
                        <option value="Pequeño">Pequeño</option>
                        <option value="Mediano">Mediano</option>
                        <option value="Grande">Grande</option>
                      </select>
                  </div>
                  <div class="input_div">
                    <label for="color"><i class="form-label"></i>Color</label>
                    <input type="text" name="color" class="form-control" [(ngModel)]="color">
                  </div>
                </div>
                <div class="col-5 col-sm-5">
                    <img src={{mascota.url_imagen}} style="height: 12rem; width: 14rem">
                    <div class="mb-3">
                      <button *ngIf="modifImage==false" class="my-2" (click)="modificarImagen()">Cambiar imagen</button> <br>
                      <input name="imagen" [(ngModel)]="imagen" *ngIf="modifImage==true" type="file" accept="image/*" (change)="onInput($event)" value={{mascota.url_imagen}}>
                    </div>
                </div>
            </div>
            <div class="row m-3">
              <div class="input_container">
                <div class="input_div">
                  <label for="sexo"><i class="form-label"></i>Sexo</label>
                  <select class="form-select" aria-label="Default select example" name="sexo" [(ngModel)]="sexo">
                    <option value="h">Hembra</option>
                    <option value="m">Macho</option>
                  </select>
                </div>
                <div class="input_div">
                    <label for="peso"><i class="form-label"></i>Peso(Kg)</label>
                    <input type="number" name="peso" class="form-control" [(ngModel)]="peso">
                </div>
              </div>
            </div>
            <div class="row m-3">
              <div class="mb-3">
                <label for="descripcion"><i class="form-label"></i>Descripción</label>
                <textarea type="text" name="descripcion" class="form-control" [(ngModel)]="descripcion"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modificar(mascota.id)" class="btn btn_guardar" data-bs-toggle="modal" data-bs-target="#exampleModal">Guardar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de registro -->
<div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header modal-header-bg">
        <h5 class="modal-title">REGISTRO DE MASCOTA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="d-flex justify-content-center my-4">
              
                    <form #form="ngForm">
                        <div class="mb-3">
                          <label for="nombre" class="form-label">Nombre</label>
                          <input type="text" name="nombre" class="form-control" [(ngModel)]="nombre">
                        </div>
                        <br>
                        <div class="input_container">
                          <div class="input_div">
                            <label for="nacimiento"><i class="form-label"></i>Nacimiento</label>
                            <input type="date" name="nacimiento" class="form-control" [(ngModel)]="nacimiento" value={{mascota.nacimiento}} (change)="calcularEdadAproximada(nacimiento)">
                          </div>
                          <div class="input_div">
                              <label for="edad"><i class="form-label"></i>Edad</label>
                              <input type="text" name="edad" class="form-control" [(ngModel)]="edad" disabled value={{edadAproximada}}>
                          </div>
                        </div>
                        <div class="input_container">
                            <div class="input_div">
                              <label for="raza"><i class="form-label"></i>Raza</label>
                              <input type="text" name="raza" class="form-control" [(ngModel)]="raza">
                            </div>
                            <div class="input_div">
                                <label for="tamanio"><i class="form-label"></i>Tamaño</label>
                                <select class="form-select" name="tamanio" [(ngModel)]="tamanio">
                                  <option value="Pequeño">Pequeño</option>
                                  <option value="Mediano">Mediano</option>
                                  <option value="Grande">Grande</option>
                                </select>
                            </div>
                        </div>
                        <div class="input_container">
                            <div class="input_div">
                              <label for="sexo"><i class="form-label"></i>Sexo</label>
                              <select class="form-select" aria-label="Default select example" name="sexo" [(ngModel)]="sexo">
                                <option value="h">Hembra</option>
                                <option value="m">Macho</option>
                              </select>
                            </div>
                            <div class="input_div">
                                <label for="peso"><i class="form-label"></i>Peso(Kg)</label>
                                <input type="number" name="peso" class="form-control" [(ngModel)]="peso">
                            </div>
                        </div>
                        <div class="input_container">
                          <div class="input_div">
                            <label for="color"><i class="form-label"></i>Color</label>
                            <input type="text" name="color" class="form-control" [(ngModel)]="color">
                          </div>
                        </div>
                        <div class="mb-3">
                            <label for="imagen" style="padding: 5px;"><i class="form-label"></i>Imagen</label> <br>
                            <input type="file" accept="image/*" (change)="onInput($event)">
                        </div>
                        <div class="mb-3">
                            <label for="descripcion"><i class="form-label"></i>Descripción</label>
                            <textarea type="text" name="descripcion" class="form-control" [(ngModel)]="descripcion"></textarea>
                        </div>
                      </form>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="enviar()" class="btn btn_guardar" data-bs-toggle="modal" data-bs-target="#exampleModal">Guardar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de mensaje, registro/modificacion guardada-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header modal-header-bg">
        <h5 *ngIf="modalModif==false" class="modal-title">REGISTRO DE MASCOTA</h5>
        <h5 *ngIf="modalModif==true" class="modal-title">MODIFICACIÓN DE MASCOTA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p *ngIf="modalModif==false">Nueva mascota en adopción guardada</p>
        <p *ngIf="modalModif==true">Cambios en mascota en adopción guardados</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>