
body{
    width: 100%;    
    background-color: #362222;
 
}

.titulo{
    color: #FFEDED;
}


.contenido{ 
    width: 80%;
    margin: 0 auto; 
}


.input_div{
    display: flex;
    flex-direction:column;
    padding: 5px;
}
  
.input_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

textarea{
    height: 80px;
}

.btn_guardar{
    background-color: #362222;
    color: #FFEDED;
}

.titulo{
    color: #FFEDED;
}

.btn_nueva{
    width: 200px;
    background-color: #FFEDED;
    color: #362222;
    border-radius: 5px;
    float: right;
}

.td_boton{
    vertical-align: middle;
}

.modal-header-bg{
    background-color: #362222;
    color: #FFEDED;
}

.modal-body{
    background-color: #FFEDED;
    color: #362222;
}

.modal-footer{
    background-color: #FFEDED;
    color: #362222;
}

.table-bg{
    box-shadow:1px 1px 2px #333;
    background-color: #FFEDED;
}

