<body style="position: relative; padding-bottom: 7em; min-height: 100vh;">
    <app-header></app-header>
    <div class="contenido">
        <div class="d-flex justify-content-center my-3">
            <div class="formulario">       
                <form (ngSubmit)="enviar()">
                        <h1>Configuracion de la Cuenta</h1>
                    <br>
                    <div class="input_container">
                        <div class="input_div">
                            <label for="nombre"><i class="form-label"></i><b>Nombre de la ONG</b></label>
                              <div class="input-group"> 
                                  <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre">
                              </div>
                        </div>
                        <div class="input_div">
                          <label for="celular"><i class="form-label"></i>Información de Contacto</label>
                          <input type="text" class="form-control" name="celular" [(ngModel)]="celular">
                        </div>
                        <div class="input_div">
                            <label for="linkDonacion"><i class="form-label"></i>Información Donaciones</label>
                            <input type="text" name="linkDonacion" class="form-control" [(ngModel)]="link_donacion">
                        </div>
                    </div>
                    <div class="input_container">
                        <div class="input_div">
                            <label><i class="form-label"></i>Datos Institucionales</label>
                            <input type="text" name="direccion" class="form-control" [(ngModel)]="direccion"> <br>
                            <input type="number" name="codigo_postal" class="form-control" [(ngModel)]="codigo_postal"> <br>
                            <input type="email" name="email" class="form-control" [(ngModel)]="email"> <br>
                            <input type="text" name="provincia" class="form-control" [(ngModel)]="provincia">
                          </div>
                    </div> <br>
                    <div class="mb-3">
                        <label for="terCondiciones"><i class="form-label"></i>Terminos y Condiciones</label>
                        <textarea type="text" name="terminos_adopcion" class="form-control" [(ngModel)]="terminos_adopcion"></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn_guardar" data-bs-toggle="modal" data-bs-target="#exampleModal">GUARDAR</button>
                  </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header modal-header-bg">
                <h5 class="modal-title">NUEVA CONFIGURACION</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Nuevos datos guardados.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
