.formulario{
    width: 800px;
    float: left;
    padding: 40px;
    background-color: #FFEDED;
    color: #362222;
    border-radius: 5px;
   
}

body{
    width: 100%;    
    background-color: #362222;
}

.contenido{ 
    width: 80%;
    margin: 0 auto; 
}

.input_div{
    display: flex;
    flex-direction:column;
    padding: 5px;
}
  
.input_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

textarea{
    height: 80px;
}

.btn_guardar{
    background-color: #362222;
    color: #FFEDED;
}

.titulo{
    color: #FFEDED;
}


