
<nav class="navbar nav_alta">
  
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/mascota">
          <img src="../../../assets/image/logo_puppit.png" alt="" width="250" height="60">
        </a>
        <form class="d-flex" role="search">
          <button type="button" class="btn btn-light btn-sm mx-2" disabled>{{ongNombre}}</button>
          <button class="btn btn-sm" type="submit" (click)="cerrarSesion()">Log out</button>
        </form>
      </div>
  
</nav>

<nav class="navbar navbar-expand-lg " id="sticky" aria-label="Tenth navbar example">
  
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/mascota">Gestión de mascotas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/adopcion-listado">Registro de adopciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/configuracion-cuenta" *ngIf="admin != 1">Configuraciones</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  

