.nav_alta{
    background-color: #FFCCD2;
      
}

.container-fluid{ 
    width: 80%;
    margin: 0 auto;
   
}

.btn{
    background-color: #362222;
    color: #FFEDED;
}

#sticky{
        position: sticky;
        top: 0;
        background-color: #FFCCD2;
}
