.fondo{
    background-color: #362222;   
}

.form{
    background-color: #FFCCD2;
    margin: auto;
    width: 90%;
    max-width: 400px;
    border-radius: 5px;
    padding: 3em 2em; 
    box-shadow: 0 5px 10 px -5px rgb(0 0 0 /30%);
    text-align: center;
}

.form-mensaje{
    color: #B3541E;
    text-align: left;
    font-size: .5rem;
    padding: 0px;
}

.form-title{ 
    font-size: 2rem;
    margin-bottom: 0.5em;
    color: #B3541E;
}

.form-container{ 
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form-group{ 
    position: relative;
    --color: #FFCCD2;
}

.form-input{
    width: 100%;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #B3541E;
    background-color: #FFCCD2;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #B3541E;
}

.form-label{ 
    color: #B3541E;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s
}

button{
    background-color: #362222;
    color: #FFEDED;
}
