<div class="position-absolute top-0 bottom-0 start-0 end-0 d-flex align-items-center justify-content-center fw-bold fondo">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    
    <form class="form">
        <div *ngIf="error==true" class="alert alert-light" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            {{mensajeError}}
        </div>
        <h2 class="form-title">Iniciar Sesión</h2>

        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-input" id="inputEmail" name="email" [(ngModel)]="email" placeholder=" " required>
                <label for="inputEmail" class="form-label">*Email</label> 
            </div>
            <div class="form-group">
                <input type="password" class="form-input" id="inputPassword" name="password" [(ngModel)]="password" placeholder=" " required>
                <label for="inputPassword" class="form-label">*Password</label>
            </div>
            <div class="form-mensaje" *ngIf="email == '' || password == ''">
                <h6>*Campos obligatorios</h6>
            </div>   
        </div>
        <div class="my-4 d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-outline" (click)="ingresar()" *ngIf="email != '' && password != ''">INGRESAR</button>
        </div>
    </form> 

    <!-- <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div> -->

