
<div class="contenido position-absolute bottom-0 start-0 end-0">
    <div class="container-fluid">
        <footer class="py-3 my-3">
          <p class="text-center">&copy; 2022 All rights reserved.</p>
        </footer>
      </div>
</div>
