
<body style="position: relative; padding-bottom: 6em; min-height: 100vh;">
    <app-header></app-header>

    <div class="contenido">
        <div class="d-flex justify-content-center my-4">
            <div class="col-lg-11 col-xl-11 col-md-11 col-sm-12 col-xs-12 p-2">
                <div *ngIf="admin==1">
                    <div class="row m-4 container-fluid">
                        <label for="ong1" class="" id="filtro-text">Filtrar por:</label>
                        <div class="col-6">
                            <div class="btn-group grupo" role="group">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="ddbtnONG" data-bs-toggle="dropdown" aria-expanded="false">ONG</button>
                                    <ul class="dropdown-menu" aria-labelledby="ddbtnONG">
                                        <li class="dropdown-item" *ngFor="let o of ongs" (click)="filtrarPorONG(o.id)">{{o.nombre}}</li>
                                    </ul>
                                </div>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="ddbtnFecha" data-bs-toggle="dropdown" aria-expanded="false">FECHA</button>
                                    <ul class="dropdown-menu" aria-labelledby="ddbtnFecha">
                                        <li class="dropdown-item" (click)="filtrarPorFecha(1)">Esta semana</li>
                                        <li class="dropdown-item" (click)="filtrarPorFecha(2)">Este mes</li>
                                        <li class="dropdown-item" (click)="filtrarPorFecha(3)">Este año</li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-secondary" (click)="cargarAdopciones()"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                                </svg></button>               
                            </div>
                        </div>
                    </div>        
            
                    <div class="table-responsive table-bg">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">FECHA ADOPCION</th>
                                    <th scope="col">MASCOTA</th>
                                    <th scope="col">EDAD</th>
                                    <th scope="col">IMÁGEN</th>
                                    <th scope="col">ADOPTANTE</th>
                                    <th scope="col">ONG</th>
                                </tr>
                            </thead>
                            <tbody>                   
                                <tr *ngFor="let a of adopciones">
                                    <td (click)="showModal(a.id,a.ong)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{a.id}}</td>
                                    <td (click)="showModal(a.id,a.ong)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{a.fecha | date:'dd/MM/yyyy'}}</td>
                                    <td (click)="showModal(a.id,a.ong)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{a.name}}</td>
                                    <td (click)="showModal(a.id,a.ong)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{a.edadAproximada}}</td>
                                    <td (click)="showModal(a.id,a.ong)" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src={{a.url_imagen}} style="height: 5rem;"></td>
                                    <td (click)="showModal(a.id,a.ong)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{a.apellido}}, {{a.nombre}}</td>
                                    <td (click)="showModal(a.id,a.ong)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{a.ong}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>     
                <div *ngIf="admin!=1">
                    <div class="row m-4 container fluid">
                        <label for="ong1" class="" id="filtro-text">Filtrar por:</label>
                        <div class="col-6">
                            <div class="btn-group" role="group">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="ddbtnAdoptante" data-bs-toggle="dropdown" aria-expanded="false">ADOPTANTE</button>
                                    <ul class="dropdown-menu" aria-labelledby="ddbtnAdoptante">
                                        <li class="dropdown-item" *ngFor="let a of adoptantes" (click)="filtrarPorAdoptante(a.id)">{{a.nombre}} {{a.apellido}}</li>
                                    </ul>
                                </div>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="ddbtnMascota" data-bs-toggle="dropdown" aria-expanded="false">MASCOTA</button>
                                    <ul class="dropdown-menu" aria-labelledby="ddbtnMascota">
                                        <li class="dropdown-item" *ngFor="let m of mascotas" (click)="filtrarPorMascota(m.id)">{{m.name}}</li>
                                    </ul>
                                </div>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="ddbtnFecha" data-bs-toggle="dropdown" aria-expanded="false">FECHA</button>
                                    <ul class="dropdown-menu" aria-labelledby="ddbtnFecha">
                                        <li class="dropdown-item" (click)="filtrarPorFechaYONG(1)">Esta semana</li>
                                        <li class="dropdown-item" (click)="filtrarPorFechaYONG(2)">Este mes</li>
                                        <li class="dropdown-item" (click)="filtrarPorFechaYONG(3)">Este año</li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-secondary" (click)="cargarAdopcionesxONG()"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                                </svg></button>               
                            </div>
                        </div>                
                    </div>                 
                    <div class="table-responsive table-bg">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">FECHA ADOPCION</th>
                                    <th scope="col">MASCOTA</th>
                                    <th scope="col">EDAD</th>
                                    <th scope="col">IMÁGEN</th>
                                    <th scope="col">ADOPTANTE</th>
                                </tr>
                            </thead>
                            <tbody>                   
                                <tr *ngFor="let a of adopciones">
                                    <td (click)="showModal(a.id,a.ong)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{a.id}}</td>
                                    <td (click)="showModal(a.id,a.ong)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{a.fecha | date:'dd/MM/yyyy'}}</td>
                                    <td (click)="showModal(a.id,a.ong)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{a.name}}</td>
                                    <td (click)="showModal(a.id,a.ong)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{a.edadAproximada}}</td>
                                    <td (click)="showModal(a.id,a.ong)" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src={{a.url_imagen}} style="height: 5rem;"></td>
                                    <td (click)="showModal(a.id,a.ong)" data-bs-toggle="modal" data-bs-target="#exampleModal">{{a.apellido}}, {{a.nombre}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <app-footer></app-footer>
</body>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header modal-header-bg">
          <h5 class="modal-title" id="exampleModalLabel">ADOPCION</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">ID ADOPCIÓN</th>
                                <th scope="col">FECHA DE ADOPCIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{adopcion.id}}</td>
                            <td>{{adopcion.fecha | date:'dd/MM/yyyy'}}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row m-3">
                    <div class="col-7 col-sm-7">
                        <h3>{{mascota.name}}</h3>
                        <p>RAZA: {{mascota.raza}}<br>
                        EDAD: {{edadAproximada}}<br>
                        TAMAÑO: {{mascota.tamanio}}<br>
                        PESO: {{mascota.peso}}<br>
                        GÉNERO: {{mascotaSexo}}<br>
                        DESCRIPCIÓN: {{mascota.descripcion}}</p>
                    </div>
                    <div class="col-5 col-sm-5">
                        <img src={{mascota.url_imagen}} style="height: 14rem;">
                    </div>
                </div>
                <div class="row m-3">
                    <h3>ADOPTANTE: {{adoptante.apellido}}, {{adoptante.nombre}}</h3>
                    <div class="col-6 col-sm-6">
                        <p>ID: {{adoptante.id}}<br>
                        DNI: {{adoptante.dni}}<br>
                        FECHA DE NAC: {{adoptante.fechaNacimiento | date:'dd/MM/yyyy'}}<br>
                        GÉNERO: {{adoptanteGenero}}</p>
                    </div>
                    <div class="col-6 col-sm-6">
                        <p>DIRECCIÓN: {{adoptante.direccion}}<br>
                        CÓDIGO POSTAL: {{adoptante.codigo_postal}}<br>
                        E-MAIL: {{adoptante.email}}<br>
                        CELULAR: {{adoptante.celular}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ong" disabled>ONG: {{ongNombre}}</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>