body{
    width: 100%;    
    background-color: #362222;
}

.table-bg{
    background-color: #FFEDED;
}

.contenido{ 
    width: 80%;
    margin: 0 auto; 
}

#filtro-text{
    color: #FFEDED;
}

.dropdown-menu{
    background-color: #FFCCD2;
    color: #362222;
}

.grupo{
    background-color: #FFCCD2;
    color: #362222;
}

.modal-header-bg{
    background-color: #362222;
    color: #FFEDED;
}

.modal-body{
    background-color: #FFEDED;
    color: #362222;
}

.modal-footer{
    background-color: #FFEDED;
    color: #362222;
}

.btn-ong{
    background-color: #362222;
    color: #FFEDED;
}